<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>interface</title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
	 <link rel="stylesheet" href="interface.css" />
	 <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

      
  <style>
     [class*='bloc-']{
      border : 3px solid black;
     }
     
 
     .bloc-Bandeau,.bloc-Pied{
      /*  hauteur */
         height:100px;
      }
 
    .bloc-Gauche,.bloc-Fixe,.bloc-Droit{
      height:500px;
    }
    </style> 
    </head>
 
 
  <body class="container"> 
 

 
     <div class="plan">  
          <div class="bloc-Gauche col-xs-2 ID=mesressources">
           Texte du bloc Gauche.
         </div>
 
         <div id="affiche" class="bloc-Fixe  col-xs-8" >
           <object id="foo" class="bloc-Fixe" type="text/html" data="village.html" style="width:100%; height: 100%;"></object>
         </div>
 
          <div class="bloc-Droit col-xs-2">
           <div id="ressource">Texte du bloc Droit.</div> 
          </div> 
            
    </div>   
 
    <div class="plan3" style="text-align: center; width:100%; height: 100%;"> 
        <div class="bloc-Pied col-xs-12">
			<a href="village.html" class="button village" onclick="updateObjectIframe(this); return false;">Village</a>
			<a href="grotte.html" class="button grotte" onclick="updateObjectIframe(this); return false;">Grotte</a>
			<a href="recherche.html" class="button recher" onclick="updateObjectIframe(this); return false;">Recherche</a>
			<a href="marchand.html" class="button marcha" onclick="updateObjectIframe(this); return false;">Marchand</a>
			<a href="map.html" class="button mapgen" onclick="updateObjectIframe(this); return false;">Map</a>
			<a href="arme.html" class="button armee" onclick="updateObjectIframe(this); return false;">Armée</a>
			<a href="classement.html" class="button classe" onclick="updateObjectIframe(this); return false;">Classement</a>
			<a href="connexion.html" class="button deconn">Deconnexion</a>
         </div>
    </div>
	 	<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script type="text/javascript"> 
//var adresse ='https://enigmatic-bayou-14181.herokuapp.com/';
var adresse ='127.0.0.1:5000/';
function updateObjectIframe(which)
	{
		document.getElementById('affiche').innerHTML = '<'+'object id="foo" class="bloc-Fixe" name="foo" type="text/html" data="'+which.href+'" style="width:100%; height: 100%;"><\/object>';
	}
function getParameter(theParameter) { 
  var params = window.location.search.substr(1).split('&');
 
  for (var i = 0; i < params.length; i++) {
    var p=params[i].split('=');
	if (p[0] == theParameter) {
	  return decodeURIComponent(p[1]);
	}
  }
  return false;
}
idjou=getParameter("idjoueur");
	$.ajax('/ressource/'+idjou+'/NouveauVillage', {
		type: 'GET',
		contentType: 'application/json',
		success : function(data){
			
           		document.getElementById("ressource").innerHTML ='<div id=myore >ore:'+data.ore[0].montant_mat+'</div><div id=myame >ametiste:'+data.ametiste[0].montant_mat+'</div><div id=mytop >topaze:'+data.topaze[0].montant_mat+'</div><div id=myqua >quartz:'+data.quartz[0].montant_mat+'</div><div id=mybal >balsate:'+data.balsate[0].montant_mat+'</div></div><div id=mytop >topaze:'+data.topaze[0].montant_mat+'</div>'

       		},
	})



        </script> 
	   
 
  </body>
   
   
</html>
